[Desktop Entry]
Name=PhotoStream
Comment=An unofficial Instagram client for Linux
Categories=GTK;Network;X-SuSE-Core-Internet;
Exec=photostream
Terminal=true
Type=Application
